/*body {
		font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif;
		color:#333;
		line-height:180%;
		margin:0;
		padding:0;
		text-align:center;
	}*/
	img{border:none;}
	pre{
		display:block;
		font:12px "Courier New", Courier, monospace;
		padding:10px;
		border:1px solid #bae2f0;
		background:#e3f4f9;	
		margin:.5em 0;
		width:674px;
		}	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#container{	
		margin:0 auto;
		position:relative;
		text-align:left;
		width:816px;
		background:#fff;		
		margin-bottom:2em;
		}	
	#header{
		height:80px;
		line-height:80px;
		background:#5DC9E1;
		color:#fff;
		}				
	#content{
		position:relative;
		}			

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:816px;
		height: auto;
		overflow:hidden; 
		margin-top: 10px;
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width: 20px;
		/*height:77px;*/
		position:absolute;
		/*left:-30px;*/
		left:-60px;
		top:19px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:856px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		/*position:relative;*/
		/*width:30px;*/
		/*height:77px;*/
		height: 27px;
		background:url(../images/left-arrow.png) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/right-arrow.png) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:0;
		padding:0;
		/*height:28px;*/
		position: absolute;
		top: -30px;
		right: -40px;	
		}
	ol#controls li{
		margin:0 3px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #000;
		background:#dddddd;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		border-radius: 5px 5px 0 0;
		}
	ol#controls li.current a{
		background:#e69138;
		color:#000;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */